# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
db.sqlite3
staticfiles/
static/
media/

# VSCode
.vscode/

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Migrations (optional: keep only if allowed by ALX)
**/migrations/*
!**/migrations/__init__.py
